{% extends "base.html" %}
{% block title %}Movie List{% endblock %}
{% block content %}
  {% for movie in movies|sort(attribute='sort_title') %}
    <a class="movies__link" href="/movie/{{ movie.id }}">
      <p>{{ movie.title }}</p>
    </a>
  {% endfor %}
  <div class="page__buttons">
    {% if page > 1 %}
      <a class="page__button button--previous" href="/movies/?page={{ page - 1 }}">Previous</a>
    {% endif %}
    {% if page < 1000 %}
      <a class="page__button button--next" href="/movies/?page={{ page + 1 }}">Next</a>
    {% endif %}
  </div>
{% endblock %}